@page "/"


@* @using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler *@

<PageTitle>Blazor Calendar</PageTitle>

    <h3 class="ms-fontSize-42 ms-fontWeight-regular">Welcome to Blazor Calendar</h3>
    <p class="ms-fontSize-14 ms-fontWeight-regular">Blazor Calendar allows you to manage all you events within your Outlook Calendar</p>

<div class="row">

        <!-- Calendar -->
        <div class="col-sm-12 col-md-12 col-lg-9">
            <Calendar>
                <DayTemplate Context="day">
                    @{
                        string currentDayClass = day.Date == DateTime.Now.Date ? "current-day" : "";
                        string selectedDayClass = day == selectedDay ? "selected-day" : "";
                    }
                    @if(!day.IsEmpty)
                    {
                        <div class="day shadow-effect @currentDayClass @selectedDayClass" @onclick="() => selectedDay = day">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">@day.DayNumber</h3>                            
                        </div>
                    }
                </DayTemplate>
            </Calendar>
        
        </div>

        <!-- Day Menu -->
        <div class="col-sm-12 col-md-12 col-lg-3">
            <!-- Add Event -->
            <AddEvent SelectedDay="selectedDay" />
        </div>
    </div>

@code 
{
    private CalendarDay selectedDay = new  CalendarDay
    {
        Date = DateTime.Now
    };
}

