@page "/"


@* @using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler *@

<PageTitle>Blazor Calendar</PageTitle>

    <h3 class="ms-fontSize-42 ms-fontWeight-regular">Welcome to Blazor Calendar</h3>
    <p class="ms-fontSize-14 ms-fontWeight-regular">Blazor Calendar allows you to manage all you events within your Outlook Calendar</p>

<div class="row">

        <!-- Calendar -->
        <div class="col-sm-12 col-md-12 col-lg-9">
            <Calendar>
                <DayTemplate Context="day">
                    @{
                        string currentDayClass = day.Date == DateTime.Now.Date ? "current-day" : "";
                        @* string selectedDayClass = day == selectedDay ? "selected-day" : ""; *@
                    }
                    @if(!day.IsEmpty)
                    {
                        <div class="day shadow-effect @currentDayClass">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">@day.DayNumber</h3>                            
                        </div>
                    }
                </DayTemplate>
            </Calendar>
        
        </div>

        <!-- Day Menu -->
        <div class="col-sm-12 col-md-12 col-lg-3">
            <!-- Add Event -->
            <div class="ms-depth-16 card">
                <div class="calendar-toolbar">
                    <button class="toolbar-button"><i class="ms-Icon ms-Icon--AddEvent"></i></button>
                </div>

                <div class="card-content">
                    <input type="text" class="fluent-input" placeholder="Event Subject">
                    <input type="time" class="fluent-input" placeholder="Event Subject">
                    <input type="time" class="fluent-input" placeholder="Event Subject">
                </div>
            </div>

            <!-- Day Events List -->
            <div class="ms-depth-16 card">
                <div class="card-content">
                    <h3 class="ms-fontSize-22 ms-fontWeight-regular">Tuesday, 22 May 2020</h3>

                    <div class="event shadow-effect magenta">
                        <h3 class="ms-fontSize-14 ms-fontWeight-regular">6:00 PM to 8:00 PM</h3>
                        <p class="ms-fontSize-11 ms-fontWeight-regular">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                    </div>

                    <div class="event shadow-effect yellow">
                        <h3 class="ms-fontSize-14 ms-fontWeight-regular">6:00 PM to 8:00 PM</h3>
                        <p class="ms-fontSize-11 ms-fontWeight-regular">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                    </div>

                    <div class="event shadow-effect red-orange">
                        <h3 class="ms-fontSize-14 ms-fontWeight-regular">6:00 PM to 8:00 PM</h3>
                        <p class="ms-fontSize-11 ms-fontWeight-regular">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                    </div>

                    <div class="event shadow-effect yellow-green">
                        <h3 class="ms-fontSize-14 ms-fontWeight-regular">6:00 PM to 8:00 PM</h3>
                        <p class="ms-fontSize-11 ms-fontWeight-regular">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



